/* =========================================
   RiderX Premium Animations
   Final Clean Version
========================================= */


/* Page Load */

.page{

animation:pageOpen .5s ease;

}


@keyframes pageOpen{

from{

opacity:0;

transform:translateY(20px);

}


to{

opacity:1;

transform:translateY(0);

}

}





/* Splash Logo Animation */


.splash-logo{

animation:riderLogo 2s ease infinite;

}



@keyframes riderLogo{


0%{

transform:scale(.7);

opacity:0;

}


40%{

transform:scale(1.1);

opacity:1;

}


100%{

transform:scale(1);

opacity:1;

}


}







/* Splash Hide */


.splash-hide{

animation:splashOut .8s forwards;

}



@keyframes splashOut{


from{

opacity:1;

}


to{

opacity:0;

visibility:hidden;

}


}







/* Button Animation */


.btn-animation{

animation:buttonPulse 2s infinite;

}



@keyframes buttonPulse{


0%{

box-shadow:0 0 0 0 rgba(255,214,0,.5);

}


70%{

box-shadow:0 0 0 15px rgba(255,214,0,0);

}


100%{

box-shadow:0 0 0 0 rgba(255,214,0,0);

}


}







/* Card Animation */


.fade-in{

animation:fadeCard .6s ease;

}



@keyframes fadeCard{


from{

opacity:0;

transform:translateY(30px);

}


to{

opacity:1;

transform:translateY(0);

}


}
